@model ShareWithMe.ViewModels.Musics.ShareVM
@using ShareWithMe.Entities;
@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Emilys+Candy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*heart*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="header3">
        <div class="thirdmenu">
            <ul class="menu3">
                <li class="menu3">
                    <a class="menu3" href="/Home/Index">About us</a>
                </li>
                @if (this.Context.Session.GetString("LoggedUserId") != null)
                {
                    <li class="menu3">
                        <a class="menu3" href="/Users/Index">USERS</a>
                    </li>
                    <li class="menu3">
                        <a class="menu3" href="/Books/Index">BOOKS</a>
                    </li>
                    <li class="menu3">
                        <a class="menu3" href="/Musics/Index">Musics</a>
                    </li>
                    <li class="menu3">
                        <a class="menu3" href="/Recipes/Index">Recipes</a>
                    </li>
                }
                <li class="menu3">
                    @if (this.Context.Session.GetString("LoggedUserId") == null)
                    {
                        <a class="menu3" href="/Home/Login">LOGIN</a>
                    }
                    else
                    {
                        <a class="menu3" href="/Home/Logout">LOGOUT</a>
                    }
                </li>
            </ul>
        </div>
        <div class="zaglavie3">
            <h1>SHARE with ME</h1>
        </div>
    </header>
    <div class="section">
        @if (this.Context.Session.GetString("LoggedUserId") != null)
        {
            <span class="rightgreeting">Hi, @( this.Context.Session.GetString("LoggedUserUsername")). Glad to see you<i class="fa fa-heart"></i></span>
        }
        else
        {
            <span class="rightgreeting">
                Hello, @(this.Context.Session.GetString("LoggedUserId") != null
                                 ? this.Context.Session.GetString("LoggedUserUsername")
                                 : "Stranger, lets get starting")
            </span>
        }
    </div>
    @*########################################################################################*@
    <div class="section">
        <hr class="greyhr" />
        <h1 class="sharewithh1">Music:</h1>
        <div class="backgroundshare">
            <span class="b">Genre: </span> @Model.Music.Genre <br />
            <span class="b">Title: </span> @Model.Music.Title <br />
            <span class="b">Author: </span> @Model.Music.FirstName<br />
            <span class="b">Year: </span> @Model.Music.Year<br />

            <div class="gifbook2">
                <img class="notegif" src="~/content/note.gif" />
            </div>
        </div>
        <input class="sharewithh3music" type="submit" value="Play" />

        <div>
            <hr class="greyhr" />
            <form action="/Musics/Share" method="post">
                <input type="hidden" name="MusicId" value="@Model.Music.Id" />
                <div><h1 class="sharewithh1">Share with:</h1></div>
                <div>
                    <select class="sharewithh2music" name="UserId">
                        @foreach (User item in Model.Users)
                        {
                            <option value="@item.Id">@item.FirstName @item.LastName</option>
                        }
                    </select>
                </div>
                <div>
                    <input class="sharewithh3music" type="submit" value="Share" />
                </div>
            </form>
        </div>

        <div>
            <hr class="greyhr" />
            <h2 class="sharewithh1">This music is shared with:</h2>
        </div>

        <table class="tablemusic">
            <tr>
                <th class="X">First Name:</th>
                <th class="X">Last Name:</th>
                <th class="X">Username:</th>
                <th class="X">&#10060;</th>
            </tr>
            @foreach (User item in Model.SharedWithM)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Username</td>
                    <td class="tdeddel"> <button class="edelmusic"><a class="edelamusic" href="/Musics/RevokeAccess?UserId=@item.Id&MusicId=@Model.Music.Id">denny access</a></button></td>
                </tr>
            }
        </table>
    </div>
    @*########################################################################################*@
    <div class="foot3">
        <footer>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
            <div><p>SHAREwithME &copy;All Rights Reserved!</p></div>
        </footer>
    </div>
</body>
</html>


