@model MVC.ViewModels.ClanVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClanVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symbol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specificity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specificity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
